/* Mobile Devices */
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  z-index: 1;
  margin-top: 5px;
  margin-left: 5px;
}

.navbar-brand {
  margin-left: 50px;
  font-family: Palanquin Dark;
}

/* Dekstop */
@media (min-width: 992px) {
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav .nav-link {
    border: 1px solid black;
    padding-right: 30px;
  }
}
