/* Mobile Devices */
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(/image/170px-Muñeco_de_coco.jpg);
  background-size: cover;
  position: fixed;
  z-index: 1;
  margin-top: 5px;
  margin-left: 5px;
}

.navbar-brand {
  margin-left: 45px;
  font-family: Palanquin Dark;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-nav {
  font-size: 14px;
  text-transform: uppercase;
}

/* Dekstop */
@media (min-width: 992px) {
  .navbar {
    height: 80px;
    background-color: white;
  }

  .logo {
    width: 70px;
    height: 70px;
    margin-left: 100px;
  }

  .navbar-brand {
    margin-left: 170px;
    font-size: 30px;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 70px;
    font-size: 14px;
    font-weight: 700;
  }

  .nav-link {
    height: 80px;
    width: 100px;
    line-height: 80px;
    text-align: center;
    /* margin-right: 30px; */
  }
  
  .nav-link:hover {
    background-color: rgba(232, 232, 232, 1);
  }

  /* .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid blue;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  } */
}
